
.body_style {
    margin: 0;
    background-image: url("/images/Background.jpeg");
    height: 100%;
}

.header_menu {
    background-color: rgb(223, 71, 16);
    
    
}

.menu__options {
    display:flex;
    justify-content: space-around;
    list-style:none;
    padding:0 0 0 9rem;
    margin: 0;
    font-weight: bold;
    
}

.menu__social {
    display: flex;
    justify-content: space-around;
    padding: 0rem 0rem 0rem 5rem;
    margin: 0;
    list-style:none;
}

.header__table {
    width: 100%;
}

.td__width {
    width:70%;
    padding:0
}

.menu--img {
    width: 20px;
    padding: 0;
    margin: 0;
    border: 0;
    
}
.section_name {
    color:white;
    display: flex;
    justify-content: center;
    font-size:xxx-large;
    text-transform: uppercase;
    
    
}
.section_greetings{
    color: white;
    display: flex;
    justify-content: center;
}
.section_description {
    color: white;
    display: flex;
    justify-content: center;
}

img.section_profile {
    border-radius: 150px;
    height: 300px;
    width: 300px;
}
td.table_image {
    width: 300px;
    padding: 1.5rem;
}
