
.body_style {
    margin: 0;
    background-image: url("/images/Background.jpeg");
    height: 100%;
}

.header_menu {
    background-color: orangered;    
    
}

.menu__options {
    display:flex;
    justify-content: space-around;
    list-style:none;
    padding:0 0 0 9rem;
    margin: 0;
    font-weight: bold;
    
}

.menu__social {
    display: flex;
    justify-content: space-around;
    padding: 0rem 0rem 0rem 5rem;
    margin: 0;
    list-style:none;
}

li.menuoptions__li {
    background-color: #060636;
    border-radius: 50px;
    padding: 0.2rem;
    width: 4.5rem;
}

a.table__ul {
    color: orangered;
    display: flex;
    justify-content: center;
}

.header__table {
    width: 100%;
}

.td__width {
    width:70%;
    padding:0
}

.menu--img {
    width: 21px;
    padding: 0;
    margin: 0.3rem 0 0 0;
    border: 0;
    
}
.section_name {
    color: #060636;
    display: flex;
    justify-content: center;
    font-size: xxx-large;
    text-transform: uppercase;
    margin: 0;
    background-color: orangered;
    border-radius: 20px;
}
.section_greetings{
    color: #060636;
    display: flex;
    justify-content: center;
}
.section_description {
    color: #060636;
    display: flex;
    justify-content: center;
    margin-left: 0.7rem;
}

img.section_profile {
    border-radius: 150px;
    height: 300px;
    width: 300px;
}
.table_image {
    width: 300px;
    padding: 1.3rem;
    background-color: orangered;
    border-radius: 300px;
}

.section_td {
    display: flex;
    justify-content: center;
    margin: 8rem;
}

table.section_table {
    margin: 1rem 1rem 1rem 4.5rem;
}
table.sectio2_table {
    margin: 1rem 10rem 1rem 10rem;
    background-color: orangered;
}

ul.section2_ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

img.section2__imgs {
    width: 70px;
}

